.chatWindow{
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar span{
    margin: 1rem 2rem;
}

.userIconDiv{
    margin: 1rem 2rem;
}

.userIcon{
    background-color: #339cff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* chat input */
.chatInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputBox{
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    width: 100%;
    border: none;
    background-color: rgba(255,255,255,0.05);
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,0.05) 0px 54px 55px,rgba(0,0,0,0.05) 0px -12px 30px, rgba(0,0,0,0.05) 0px 4px 6px,rgba(0,0,0,0.05) 0px -3px 5px;
}

input:focus{
   outline: none;
}

#submit{
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
}

#submit i:hover{
    color: #fff;
}

#submit button{
    color: white;
}

.info{
    font-size: 0.8rem;
    padding: 0.5rem;
    color: gray;
}