.chats{
    width: 700px;
    overflow-y: scroll;
    padding: 8rem;
}
.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}
.gptDiv{
    text-align: left;
    font-size: 0.9rem;
}
.userMessage{
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs{
    border-radius: 15px;
}

pre{
    white-space: pre-wrap;
}




.codeBlock {
  position: relative;
  margin: 10px 0;
}

.copyBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #2d2d2d;
  color: white;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.copyBtn:hover {
  background: #444;
}



.userMessageWrapper {
  position: relative;
}

.messageCopyBtn {
  margin-left: 10px;
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa;
}

.messageCopyBtn:hover {
  color: white;
}
